body {
    background: grey;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    height: 30vh;
}

.header {
    /* background: lightcoral; */
    display: flex;
    justify-content: space-between;

}

.logo-left {
    /* border-radius: 37px; */
     border-radius: 50%;
     background: lavender;
    /* border: 2px solid palevioletred; */
    width: 23px;
    height: 23px;
    
    text-align: center;
    /* align-items: center; */
    padding: 8px;
    margin: 2px;
    color: royalblue;
    font-weight: bold;
    font-size: large;
}

/* .close{
    display: flex;
  justify-content: end;
} */
.close {
    border-radius: 37px;
    background: rgb(174, 209, 218);
    border: 7px solid #c9c8d8c4;
    width: 20px;
    text-align: center;
    padding: 2px;
    margin: 2px;
    color: gray;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
  
}

.middle-content {
    text-align: center;
}

.title {
    font-weight: 900;
    margin-bottom: 5px;
}

.buttons-section {
    margin-top: 6px;
    display: flex;
    gap: 6px;
    /* background:red; */
    /* border-radius: 4px; */
    height: 5vh;
    padding: 2px;
}



button {
    width: 90px;
    border-radius: 8px;
    cursor: pointer;
}

.continue-btn button {
    background: royalblue;
    color: white;
    height: 30px;
}

.cancel-btn button {
    color: royalblue;
    height: 30px;
}

/* solution */
 
 /* .logo-left{
flex-shrink: 0;
 } */